@import '../../../assets/styles/index.scss';

.step {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-top: 0;
    margin-bottom: getSpace('m');
    font-size: 2.5rem;
    font-weight: getFontWeight('bold');
  }
  &__subtitle {
    font-size: 1.4rem;
    margin-bottom: getSpace('m');
    margin-top: 0;
    color: getColor('8', 'all');
  }
}
