@import '../../assets/styles/index.scss';

.page404 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: getColor('aqua');

  &__title {
    margin: 0;
    font-size: 12rem;
    font-weight: getFontWeight('bold');
    background: linear-gradient(0deg, getColor('green') 0%, getColor('aqua') 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__error {
    margin: 0;
    font-size: 2rem;
  }

  &__btn {
    color: getColor('white');
    font-size: 1.4rem;
    height: 40px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: getColor('aqua');
  }
}
