@import '../../assets/styles/index.scss';

.registerPage {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  &__navi {
    padding-top: getSpace('l');
    position: absolute;
    top: 0;

    img {
      height: 22px;
      cursor: pointer;
    }
  }
}
