@import '../../assets/styles/index.scss';

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: getIndex('root');
  background-color: rgba($color: getColor('white'), $alpha: 0.8);
  &__container {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    &.big {
      max-width: 80px;
      max-height: 80px;
    }
    &.small {
      max-width: 40px;
      max-height: 40px;
    }
  }
  &__item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both;
    &::before {
      content: '';
      display: block;
      width: 25%;
      height: 25%;
      background-color: getColor('black');
      border-radius: 100%;
      animation: sk-chase-dot-before 2s infinite ease-in-out both;
    }
    $delay: -1.1s;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: #{$delay};
        &:before {
          animation-delay: #{$delay};
        }
        $delay: $delay + 0.1;
      }
    }
  }
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
