@import '../Navigation.module.scss';

.navigation {
  &__icon {
    height: 22px;
  }

  &__title {
    margin-right: auto;
    margin-left: getSpace('m');
    font-size: 2.5rem;
    line-height: 2.3rem;
  }
}
