@import '../../../../assets/styles/index.scss';

.slider {
  width: 100vw;
  height: 180px;
  margin-top: getSpace('l');
  padding: getSpace('s');

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    height: 40px;
    border-radius: 50%;
  }

  &__text {
    margin-right: auto;
    margin-left: 10px;
  }

  &__name {
    margin: 0;
    font-weight: getFontWeight('bold');
  }

  &__place {
    margin: 0;
    font-size: 1.4rem;
  }

  &__container {
    margin-top: getSpace('s');

    & div {
      overflow: hidden;

      & div {
        display: flex;
      }
    }
  }

  &__element {
    height: 120px;
    width: 140px;
    border-radius: 15px;
  }
}
