@import '../../assets/styles/index.scss';

.signInPage {
  height: 100%;
  background: linear-gradient(0deg, getColor('green') 0%, getColor('aqua') 100%);
  padding-top: 172px;
  padding-bottom: 105px;
  color: getColor('white');

  &__logo {
    height: 65px;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__company {
    margin-left: getSpace('xxs');
    font-weight: getFontWeight('bold');
  }

  &__btn {
    height: 50px;
    background: none;
    border: 1px solid getColor('white');
    border-radius: $border-radius;
    font-size: 1.5rem;
    color: getColor('white');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: getSpace('xxs');
  }

  &__logIn {
    background-color: getColor('white');
    color: getColor('aqua');
  }

  &__policy {
    margin: 0;
    font-size: 1.2rem;
  }
}
