@import '../../assets/styles/index.scss';

.login {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-top: 0;
    margin-bottom: getSpace('m');
    font-size: 2.5rem;
    font-weight: getFontWeight('bold');
  }
  &__footer {
    font-size: 1.4rem;
    margin-top: getSpace('xl');
    text-align: center;
    a {
      color: getColor('aqua');
      margin-left: getSpace('xxs');
    }
  }
  &__forgot {
    color: getColor('aqua');
    margin-top: getSpace('s');
  }
}
