@import '../../../../../assets/styles/index.scss';

.navigation {
  width: 100%;
  height: 100px;
  padding: getSpace('s');
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__icon {
    height: 30px;
    width: auto;
  }

  &__title {
    margin: 0;
    color: getColor('gray');
    font-weight: getFontWeight('bold');
    font-size: 2.6rem;
  }

  &__avatar {
    height: 30px;
    width: auto;
  }
}
