@import '../../../../../assets/styles/index.scss';

.recomendationItem {
  text-align: center;

  &__avatar {
    width: 63px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background: linear-gradient(100deg, getColor('1', 'all') 0%, getColor('blue') 100%);
  }

  &__name {
    margin: getSpace('xxs') 0 0;
    font-size: 1.3rem;
  }
}
