@import './index.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: getColor('white');
  overflow-x: hidden;
  line-height: 1.5;
  color: getColor('gray');
  @include font-family('primary');
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img,
svg,
video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

fieldset {
  position: relative;
  border: inherit;
  padding: unset;
}
a,
a:visited,
a:link,
a:hover {
  text-decoration: inherit;
}
