@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
