@import './index.scss';

.form {
  fieldset {
    margin-bottom: getSpace('s');
  }

  &__input {
    font-size: 1.6rem;
    padding: getSpace('s');
    border: $border-style;
    border-radius: $border-radius;
    border-color: getColor('7', 'all');
    &::placeholder {
      font-size: 1.3rem;
      color: getColor('7', 'all');
    }
    .password {
    }
  }
  &__submit {
    margin: 0 auto;
    font-size: 1.3rem;
    padding: getSpace('s');
    border-radius: $border-radius;
    border-color: getColor('aqua');
    border: none;
    background-color: getColor('aqua');
    color: getColor('white');
    transition: letter-spacing 0.3s ease-out;
    cursor: pointer;
    &.inner {
      margin-left: 0;
    }
    &:hover {
      letter-spacing: 0.05em;
    }
  }
  &__icon {
    min-width: 26px;
    margin-left: getSpace('xs');
    max-height: 1em;
    height: 1em;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    img {
      position: absolute;
      width: auto;
      object-fit: cover;
    }
  }
  &__field {
    font-size: 1.6rem;
    border: none;
    &::placeholder {
      font-size: 1.3rem;
      color: getColor('7', 'all');
    }
  }
  &__skip {
    border: none;
    cursor: pointer;
    color: getColor('aqua');
    font-size: 1.4rem;
    margin-top: getSpace('s');
    background-color: transparent;
    text-decoration: none;
  }
}
