@import './index.scss';

.container {
  padding-left: getSpace('l');
  padding-right: getSpace('l');
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include media('m') {
    padding: 0;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
