$breakpoints: (
  's': 480px,
  'm': 768px,
  'ml': 1024px,
  'l': 1248px,
  'xl': 1440px,
  'xxl': 1920px,
);
$colors-standard: (
  'white': #fff,
  'blue': #6ac6fc,
  'aqua': #2676e1,
  'green': #00b5aa,
  'gray': #434b56,
  'black': #000,
);

$colors-all: (
  '1': #a3fec7,
  '2': rgba(#000, 0.17),
  '3': #4c4c4c,
  '4': #757575,
  '5': #434b56,
  '6': rgba(#707070, 0.8),
  '7': #9a9ea4,
  '8': #7c8085,
);

$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

$space-list: (
  'xxs': 7px,
  'xs': 12px,
  's': 16px,
  'sm': 18px,
  'm': 20px,
  'ml': 24px,
  'l': 33px,
  'xl': 41px,
  'xxl': 72px,
);

$container-list: (
  'xs': 137px,
  's': 274px,
  'sm': 548px,
  'm': 1106px,
  'l': 1692px,
  'xl': 1920px,
);

$font-families: (
  'primary': 'Roboto',
);

$z-indexes: (
  'hide': -1,
  'normal': 0,
  'over': 1,
  'ui': 10,
  'root': 1000,
);

$grid-cols: 12;
$border-style: 1px solid getColor('6');
$border-radius: 23px;
