@import '../../../../assets/styles/index.scss';

.recomendation {
  height: 190px;
  width: 100%;
  padding: 16px 0;
  box-shadow: 0px 8px 13px -2px rgba(0, 0, 0, 0.36);

  &__title {
    font-size: 1.6rem;
    color: getColor('3', 'all');
    font-weight: getFontWeight('bold');
    margin: 0 getSpace('s') getSpace('s');
  }

  &__container {
    display: flex;
    justify-content: space-around;
  }
}
